manifestVersion: subsquid.io/v0.1
name: subsquid-network-mainnet 
version: 5
description: Subsquid network indexer
build:
deploy:
  addons:
    postgres:
  env:
    NETWORK: mainnet
    RPC_ENDPOINT: ${{ secrets.ARBITRUM_RPC_URL }}
    PORTAL_ENDPOINT: ${{ addons.portal.arbitrum_one.http }}
    NETWORK_STATS_URL: https://pub-ac22b56b00cc44dca890819ccb2e5a6b.r2.dev/mainnet
    SCHEDULER_API_URL: https://scheduler.mainnet.sqd.dev
    REWARDS_MONITOR_API_URL: https://rewards-monitor.mainnet.subsquid.io
  processor:
    cmd:
      - node
      - lib/main.js
  api:
    cmd:
      - npx
      - squid-graphql-server
      - --dumb-cache
      - in-memory
      - --dumb-cache-ttl
      - "1000"
      - --dumb-cache-size
      - "100"
      - --dumb-cache-max-age
      - "1000"
      - --no-squid-status
  init:
    cmd:
      - npx
      - squid-typeorm-migration
      - apply
scale:
  dedicated: true
  addons:
    postgres:
      storage: 20G
      profile: medium
  processor:
    profile: medium
  api:
    replicas: 2
