manifestVersion: subsquid.io/v0.1
name: subsquid-network-testnet
version: 5
description: Subsquid network indexer
build:
deploy:
  addons:
    postgres:
  env:
    NETWORK: tethys
    RPC_ENDPOINT: ${{ secrets.ARBITRUM_SEPOLIA_RPC_URL }}
    PORTAL_ENDPOINT: ${{ addons.portal.arbitrum_sepolia.http }}
    STAKING_CONTRACT_ADDRESS: "0x347E326b8b4EA27c87d5CA291e708cdEC6d65EB5"
    WORKER_REGISTRY_CONTRACT_ADDRESS: "0xCD8e983F8c4202B0085825Cf21833927D1e2b6Dc"
    SQD_CONTRACT_ADDRESS: "0x24f9C46d86c064a6FA2a568F918fe62fC6917B3c"
    NETWORK_CONTROLLER_CONTRACT_ADDRESS: "0x018a4EC4B1f5D03F93d34Fd7F0bAfc69B66B97A1;57869108"
    OLD_NETWORK_CONTROLLER_CONTRACT_ADDRESS: "0x68Fc7E375945d8C8dFb0050c337Ff09E962D976D"
    REWARD_TREASURY_CONTRACT_ADDRESS: "0x785136e611E15D532C36502AaBdfE8E35008c7ca"
    REWARDS_DISTRIBUTION_ADDRESS: "0x68f9fE3504652360afF430dF198E1Cb7B2dCfD57"
    MULTICALL_3_CONTRACT_ADDRESS: "0xca11bde05977b3631167028862be2a173976ca11"
    VESTING_FACTORY_CONTRACT_ADDRESS: "0x0eD5FB811167De1928322a0fa30Ed7F3c8C370Ca"
    GATEWAY_REGISTRY_CONTRACT_ADDRESS: "0xAB46F688AbA4FcD1920F21E9BD16B229316D8b0a"
    TEMPORARY_HOLDING_FACTORY_CONTRACT_ADDRESS: "0x5eb3C647A423bfB100765Cbf0201B5748bbe7BD7"
    SOFT_CAP_CONTRACT_ADDRESS: "0x52f31c9c019f840A9C0e74F66ACc95455B254BeA"
    RANGE_FROM: 6_000_000
    NETWORK_STATS_URL: https://pub-ac22b56b00cc44dca890819ccb2e5a6b.r2.dev/testnet
    SCHEDULER_API_URL: https://scheduler.testnet.subsquid.io
    REWARDS_MONITOR_API_URL: https://rewards-monitor.testnet.subsquid.io
  processor:
    cmd:
      - node
      - lib/main.js
  api:
    cmd:
      - squid-graphql-server
      - --dumb-cache
      - in-memory
      - --dumb-cache-ttl
      - "1000"
      - --dumb-cache-size
      - "100"
      - --dumb-cache-max-age
      - "1000"
      - --no-squid-status
  init:
    cmd:
      - squid-typeorm-migration
      - apply
scale:
  dedicated: true
  addons:
    postgres:
      storage: 20G
      profile: medium
  processor:
    profile: medium
